<span class="custom-dropdown">
  <select>
    <option value="mutual_following">I follow & am followed by</option>
    <option value="exclusive_followers">They follow me but I do not</option>
    <option value="exclusive_friends">Only I follow</option>
    <option selected="selected" value="all_friends">Following</option>
    <option value="all_followers">Followers</option>
  </select>
</span>