#tooltip {
  display: none;
  position: absolute;
  font-size: 0.9em;
  // left: 0;
  // top: 30%;
  padding: 1em;
  // padding-top: 0;
  // height: 40%;
  max-height: 100%;
  max-width: 50%;
  width: 300px;
  background-color: #606060;
  color: #fff;
  display: flex;
  flex-direction: column;
  div {
    margin-top: 1em;
  }
  div:first-of-type {
    margin-top: 0;
  }
  div:last-of-type {
    margin-bottom: 1em;
  }
  #click-node {
    display: flex;
    justify-content: center;

    h4 {
      margin: 0;
      font-weight: 100;
      font-size: 0.9em;
      background-color: #8d8f91;
      padding: 0.3em;
      border-radius: 5px;
    }
  }
  #top-section {
    display: flex;
  }
  #avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    img {
      width: 120px;
    }
    h4,
    h5 {
      margin: 0.4em 0 0 0;
    }
    h4 {
      font-weight: 400;
    }
    h5 {
      font-size: 0.9em;
      font-weight: 100;
    }
    img {
      border-radius: 50%;
    }
  }
  #description {
    width: 200px;
    p {
      margin: 0;
      font-weight: 300;
    }
  }
  #follow-tweet-count {
    ul {
      padding: 0;
      margin: 0;
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
    }
    ul > li {
      list-style: none;
      span {
        color: #ccc;
      }
    }
  }
  #location:before {
    display: inline;
    display: block;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257 c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22 C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34 C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180 C406.1,207.121,398.689,233.688,384.866,256.818z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2 C316.1,212.683,289.784,240.2,256,240.2z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  }
  #location {
    background-repeat: no-repeat;
    .location-icon {
      fill: #fff;
      width: 1em;
    }
  }
  button {
    font-weight: 500;
  }
  #follow-unfollow {
    color: #fff;
    font-size: 1em;
    padding: 0.5em;
    background-color: rgb(29, 161, 242);
    outline: none;
    border: none;
    border-radius: 20px;
    width: 40%;
    cursor: pointer;
  }
  #follow-unfollow:hover {
    background-color: rgb(216, 58, 19);
  }
}
