<div class="pagination-wrapper">
  <ul class="pagination contract">
    {{#paginate pagination type="previous"}}
    <li {{#if disabled}}class="disabled" {{/if}} data-page="{{n}}"><a>&laquo;</a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="7"}}
    <li data-page="{{n}}"><a {{#if active}}class="active" {{/if}}>{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
    <li {{#if disabled}}class="disabled" {{/if}} data-page="{{n}}"><a>&raquo;</a></li>
    {{/paginate}}
  </ul>
</div>
{{!-- TODO DELETE --}}
{{!-- href="friends/?page={{n}} --}}