<div id="pagination">
  <div class="pagination-wrapper">
    <ul class="pagination contract">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="elip">
        ...
      </li>

      <li>
        <a href="#" class="active">5</a>
      </li>
      <li>
        <a href="#">6</a>
      </li>
      <li>
        <a href="#">7</a>
      </li>

      <li class="elip">
        ...
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
