#pagination {
  position: absolute;
  left: 50%;
  bottom: 0;

  .pagination-wrapper {
    background-color: #4e4e4e;
    position: relative;
    left: -50%;
    padding: 1em;
  }
  .pagination {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .pagination li {
    display: inline-block;
    cursor: pointer;
  }
  .pagination li.disabled {
    pointer-events: none; //This makes it not clickable
    opacity: 0.6; //This grays it out to look disabled
  }
  .pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #000000;
    border-radius: 50%;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
  }
  .pagination li a.active {
    color: #000000;
    background: #ffffff;
  }
  .pagination li.elip {
    margin: 0 0.5rem;
  }

  .pagination.shake li a:hover {
    animation: shake 0.35s linear;
  }

  .pagination.contract li {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .pagination.contract li a:hover {
    animation: contract 0.3s linear;
  }

  @keyframes contract {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: rotate(1);
    }
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

// body {
//   margin-top: 130px;
//   text-align: center;
//   font-family: Calibri;
//   -webkit-font-smoothing: antialiased;
// }
